#mainText {
    /* margin:5em; */
    font-family: Verdana, Helvetica, sans-serif;
    /* font-size:large; */
}

@media screen and (min-width: 1225px) {
    #mainText {
        margin:5em;
    }

    .courseColumn {
        width:45%;
    }
}

@media screen and (max-width: 1225px) {
    #mainText {
        margin-left:3em;
        margin-right:3em;
        margin-top:5em;
        margin-bottom:5em;
    }

    .courseworkElt {
        flex-direction: column;
        align-items: center;
    }

    .courseColumn {
        width:100%
    }
}

@media screen and (max-width:600px) {
    #mainText {
        font-size:medium;
    }
}

@media screen and (min-width:600px) {
    #mainText {
        font-size:large;
    }
}

#schoolPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-radius: 3px;
    border-width: 3px;
    width:98vw;
    height:29.2vw;
    justify-self: center;
}

.courseworkElt {
    display:flex;
    /* flex-direction: column; */
    justify-content:center;
    align-content: center;
    /* border-style: dotted; */
    border-color:red;
    width:100%;
}

.courseColumn {
    /* display:flex; */
    /* flex-direction: column; */
    border-style: solid;
    border-radius:1em;
    /* flex:1; */
    margin-left: 1%;
    margin-right: 1%;
    padding:1em;
}