#corvallisPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-radius: 3px;
    border-width: 3px;
    width:98vw;
    height:29.2vw;
    justify-self: center;
}

#mainText {
    /* margin:5em; */
    font-family: Verdana, Helvetica, sans-serif;
    /* font-size:large; */
    /* border-style:dashed; */
}

@media screen and (max-width:600px) {
    #mainText {
        font-size:medium;
    }
}

@media screen and (min-width:600px) {
    #mainText {
        font-size:large;
    }
}

@media screen and (min-width: 1225px) {
    #mainText {
        margin:5em;
    }
}

@media screen and (max-width: 1225px) {
    #mainText {
        margin-left:3em;
        margin-right:3em;
        margin-top:5em;
        margin-bottom:5em;
    }
}

.pdf {
    align-self: center;
    justify-self:center;
    width:100%;
    aspect-ratio: 5/3;
}
.pdfViewer {
    align-content: center;
    justify-content: center;
    justify-self:center;
    align-self:center;
    width:75%;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-width:1px;
}

.pdfImg {
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-width:1px;
    border-radius:1em;
}
.subfigureElt {
    /* border-style:dotted; */
    display:flex;
    width:85%;
    justify-content:center;
    align-content: center;
    justify-self:center;
    align-self:center;
}

.subfigureRow {
    display:flex;
    flex-direction: column;
    justify-items: space-evenly;
    /* border-style:solid; */
}


.caption {
    text-align: center;
    justify-self: center;
}

.paperElt {
    justify-content:center;
    align-content: center;
    /* justify-self:center; */
    /* align-self:center; */
    border-style:solid;
    margin:0.5em;
    border-radius: 1em;
    border-width:3px;
    width:45%;
    padding:1em;
    /* min-width:550px; */
    display:inline-block;
}

.paperRow {
    display:flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    /* justify-content: start; */
    /* border-style:dotted; */
    border-color:red;
    width:100%;
}

#philQ1 {
    color:rgb(161, 111, 255);
}

#philQ2 {
    color:rgb(111, 255, 176);
}

#philQ3 {
    color:rgb(255, 152, 111);
}

#philQ4 {
    color:rgb(248, 255, 111);
}

@media screen and (min-width:1225px){
    #philQ2 {
        justify-self: right;
    }
    #philQ4 {
        justify-self: right;
    }
    .philQ {
        margin-left: 10%;
        margin-right:10%;
    }
}

@media screen and (max-width:1225px){
    .subfigureElt {
        width:100%
    }
    .paperRow {
        border-color:blue;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .paperElt {
        width:auto;
    }

    .philQ {
        text-align: center;
        justify-self: center;
        justify-content: center;
        align-self:center;
        margin-left:0%;
        margin-right:0%;
    }
}

#reasoningDiv {
    /* border-style: solid; */
    display:flex;
    /* flex-direction: column; */
}

.arg {
    display:flex;
    flex:1;
    margin: 0.5em;
    padding:0.5em;
    border-style:solid;
    border-radius:1em;
    border-width:3px;
}