#corvallisPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-radius: 3px;
    border-width: 3px;
    width:98vw;
    height:29.2vw;
    justify-self: center;
}

#mathCourseworkElt {
    display:flex;
    /* flex-direction: column; */
    justify-content:space-evenly;
}

.courseColumn {
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-radius:1em;
    flex:1;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding:1em;
}

#mainText {
    margin:5em;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:large;
}
.pdf {
    align-self: center;
    justify-self:center;
    width:100%;
    aspect-ratio: 5/3;
}
.pdfViewer {
    align-content: center;
    justify-content: center;
    justify-self:center;
    width:75%;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-width:1px;
}

.pdfImg {
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-width:1px;
    border-radius:1em;
}
.subfigureElt {
    display:flex;
    width:75%;
    justify-content:center;
    align-content: center;
    justify-self:center;
    align-self:center;
}
.subfigureRow {
    display:flex;
    flex-direction: column;
    justify-items: space-evenly;
}

.paperElt {
    justify-content:center;
    align-content: center;
    /* justify-self:center; */
    /* align-self:center; */
    border-style:solid;
    margin:0.5em;
    border-radius: 1em;
    border-width:3px;
    width:45%;
    padding:1em;
}

.paperRow {
    display:flex;
    /* justify-content: center; */
    justify-content: start;
}

.caption {
    justify-self: center;
}