#corvallisPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-style:solid;
    border-color:olivedrab;
    border-radius: 3px;
    border-width: 3px;
    width:98vw;
    height:29.2vw;
    justify-self: center;
}

#mainText {
    margin:5em;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:large;
}

#pdfViewer {
    width: 75%;
    display:flex;
    flex:1;
    justify-self: center;
}

.pdf {
    align-self: center;
    width:100%;
    aspect-ratio: 5/3;
    }