#headerelement {
    display:flex;
    flex: 1;
    border-style: solid;
    border-color: white;
    border-width:3px;
    align-items: center;
    font-family: Verdana, Helvetica, sans-serif;
    z-index: 100;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    border-radius:3px;
    color:black;
}

#header-links-container {
    display: flex;
    flex: 1;
    justify-content:space-evenly;
    padding-left:1.5em;
    padding-right:1.5em;
    align-items:center;
    color:black;
}
.header-links {
    color:black;
    text-decoration:underline;
}

.header-links:hover {
    cursor:pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(129, 200, 255);
  color: black;
  padding: 1.5em;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
  z-index: 100;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(69, 131, 179);
  z-index: 100;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: inline-block;
  z-index: 100;
  left:0;
  border-style:solid;
  border-width:3px;
  border-radius:3px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(210, 191, 255);;
  min-width: 15em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-style:solid;
  border-width:3px;
  border-radius:3px;
  border-color:white;
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
  color:rgb(33, 23, 66);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 100;
  font-family: Verdana, Helvetica, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(163, 131, 236);
    border-style:solid;
    z-index: 100;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

