#intro {
    display:flex;
    border-width:3px;
    /* border-style:solid; */
    border-color:rgb(195, 255, 194);
    border-radius:3px;
}
#intropic {
    border-width:3px;
    border-style:solid;
    border-color:rgb(255, 243, 111);
    border-radius: 3px;
    display:flex;
    /* background-image: url("/photos/homePhotoLandscape.JPG"); */
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    /* margin-right: 1em; */
    max-width:900px;
}

#intropicImg {
    width:100%;
}

#outerintrotextbox {
    border-width:3px;
    /* border-style:solid; */
    border-color:white;
    display:flex;
    flex:1;
    font-size:2.5em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom:0.5em;
}

#innerintrotextbox {
    border-width:3px;
    border-style:solid;
    border-color:white;
    border-radius:1em;
    padding-top: 1em;
    padding-bottom:1em;
    padding-left:2em;
    padding-right:2em;
    background-color:rgb(210, 191, 255);
    color:rgb(33, 23, 66);
}

#explanation {
    /* border-style:solid; */
    /* margin:5em; */
    font-family: Verdana, Helvetica, sans-serif;
    /* font-size:large; */
}

@media screen and (max-width:600px) {
    #explanation {
        font-size:medium;
    }
}

@media screen and (min-width:600px) {
    #explanation {
        font-size:large;
    }
}

@media screen and (max-width: 1225px) {
    #intro {
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
    #intropic {
        width:98vw;
    }

    #explanation {
        margin-left:3em;
        margin-right:3em;
        margin-top:5em;
        margin-bottom:5em;
    }
}

@media screen and (min-width: 1225px) {
    #intropic {
        margin-right: 1em;
        width: 66%;
    }
    #explanation {
        margin:5em;
    }
}
